body {
	background-color: #dadee5;
	/*font-family: 'Barrio', cursive;*/
	/*font-family: Verdana, Geneva, sans-serif;*/
	text-decoration: none;
	margin: auto;
}
.index-page{
		font-family: 'Barrio', cursive;
}

@media screen and (min-width: 801px) {
		.title-words {
			font-size: 450%;
		}
	}

@media screen and (max-width: 800px) {
		.title-words {
			font-size: 350%;
		}
	}

@media screen and (max-width: 550px) {
		.title-words {
			font-size: 300%;
		}
	}

@media screen and (max-width: 450px) {
		.title-words {
			font-size: 190%;
		}
	}

@media screen and (max-width: 400px) {
		.title-words {
			font-size: 150%;
		}
	}

.title-banner {
	background-image: url("http://previews.123rf.com/images/adroach/adroach0804/adroach080400007/2864037-Colorful-Flower-Spiral-Background-Stock-Vector-flower-power-vector.jpg");
	background-position: center;
	padding: 8%;
}

.title-words {
	font-weight: 600;
	color: #000000;
	background-color: #ffffff;
	border-radius: 50px;
	text-align: center;
	padding: 4%;
	opacity: 0.8;
}

.home-navbar {
	color: #ffffff;
	background-color: #0043ff;
	width: auto;
	height: auto;
}

.main {

	background-color: grey;
	/*background-image: url("https://unicityinternationalblog.files.wordpress.com/2012/12/unicity-logo.jpg");*/
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 99%;
}

/*.main-body {
	font-weight: 600;
	color: #000000;
	background-color: #f9f9f9;
	padding: 20px;
	opacity: 0.7;
	height: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#movie-input {
	opacity: 1;
}

#enter {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 400;
}*/

md-card {
  margin: auto;
  left: 0;
  right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c5bed;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #688ee8;
}



