body {
	background-image: images/groovie.jpg;
	background-position: fill;
	background-color: #dadee5;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;

}

.HomeNavbar {
	color: #ffffff;
	background-color: #50ace5;

}