
Welcome to Groovie Movies. We hope you enjoy your stay.

<div class="home-page">
	<md-card layout="column" layout-align="center center" style="padding-bottom: 10px">
		<jk-carousel
			data="dataArray"
			item-template-url="'Templates/carousel.template.html'"
			max-width="225%" 
			max-height="335%"
			auto-slide="true"
	        auto-slide-time="3000">
		</jk-carousel>
	</md-card>
  
  <md-card2 layout="column" layout-align="center center">
	<middle>
		Groovie Movies is your one stop shop for information on all of your favorite movies. Just click on the movies button on the navigation bar above, enter the name of the movie you want information on and "VOILA!", you've got information coming out of your ears.
	</middle>
</md-card2>


<md-card3 layout="column" layout-align="center center">
	<bottom>
		Groovie Movies was designed and created in the USA by Ty Thornton, Anthony Rogers and Matt Powell.		
	</bottom>
	<script language="javascript" type="text/javascript">
		var today = new Date()
		var year = today.getFullYear()
		document.write(year)
	</script>
</md-card3>
</div>
