
<div class="welcome">Welcome to Groovie Movies. We hope you enjoy your stay.</div>
<md-content class="md-padding">
	<div class="home-page">
		<md-card class="card1" layout="column" layout-align="center center">
			<jk-carousel
				data="dataArray"
				item-template-url="'Templates/carousel.template.html'"
				max-width="190vw" 
				max-height="300vw"
				auto-slide="true"
		        auto-slide-time="3000">
			</jk-carousel>
		</md-card>

<div class="desc" style="color:white; text-align: center">
	Description
</div>

	<md-card  class="card2" layout="column" layout-align="center center">
		<middle class="textstuff">
			Groovie Movies is your one stop shop for information on all of your favorite movies. Just click on the movies button on the navigation bar above, enter the name of the movie you want information on and "VOILA!", you've got information coming out of your ears.
		</middle>
	</md-card>

<div class="author" style="color:white; text-align: center">
	Authors
</div>

	<md-card class="card" layout="column" layout-align="center center">
		<bottom class='textstuff'>
			Groovie Movies was designed and created in the USA by Ty Thornton, Anthony Rogers and Matt Powell.		
		</bottom>
		<!-- <script language="javascript" type="text/javascript">
			var today = new Date()
			var year = today.getFullYear()
			document.write(year)
		</script> -->
	</md-card>
	</div>
</md-content>
