This is the movie page.

<div>
	<form ng-submit="$ctrl.send(movieName)">
		<b>Enter Movie</b>
		<input id="movie-input" placeholder=" IM a Movie" ng-model="movieName">
		<!-- <button id="enter" type="submit">Enter</button> -->
		<md-button id="enter" type="submit" class="md-warn md-raised md-hue-3">Search</md-button>
	</form>
	<!-- these are calling the pulled variables from the controler -->
	
	<div class="title" >
		<b>Title:</b>
		{{ theTitle }}
	</div>

	<div class="genre">
		<b>Genre:</b>
		{{ theGenre }}
	</div>

	<div class="year" >
		<b>Year:</b>
		{{ theYear }}
	</div>

	<div class="plot" >
		<b>Plot:</b>
		{{ thePlot }}
	</div>
	
	<div class="actors">
		<b>Actor:</b>
		{{ theActors }}
	</div>
	
	
	
	

</div>
	<div>
		<form ng-submit="$ctrl.random(movieFlick)">
			<b>Random Movie</b>
			<input id="movie-input" placeholder=" IM a Movie" ng-model="movieFlick">
			
			<md-button style= "background-color: green" id="enter" type="submit" class="md-warn md-raised md-hue-3">Grovie Flicks</md-button>
		</form>
	</div>
	<!-- {{ author }}
	{{ plot }} -->
</div>

